<app-nav></app-nav>
<br>
<div class="container">
  <div class="card border-primary text-center">
    <div class="card-header text-primary">
      Carrito de Compras
    </div>
    <div class="card-body text-primary">
      <div class="row">
        <div class="col-12">
          <div class="row">
            <div class="col-2 border">Cantidad</div>
            <div class="col-5 border">Producto</div>
            <div class="col-2 border">Precio Unitario</div>
            <div class="col-2 border">Sub-Total</div>
          </div>
        </div>
        <div class="col-12">
          <div class="row mt-1 mb-1" *ngFor="let product of cartline; let i = index;">
            <div class="col-2"><input type="number" min="1" (change)="changeQuantity(product.product, $event.target.value)" [value]="product.quantity" class="form-control"></div>
            <div class="col-5">{{product.product.productName}}</div>
            <div class="col-2">{{product.product.MSRP | currency}}</div>
            <div class="col-2">{{product.product.MSRP*product.quantity | currency}}</div>
            <div class="col-1"><button class="btn btn-sm btn-danger" data-toggle="modal" data-target="#exampleModal" (click)="onIndex(i)"><i class="fas fa-trash"></i></button></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><i class="fas fa-exclamation-triangle text-warning"></i> Advertencia</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ¿Esta seguro de eliminar este producto?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="onDelete()" data-dismiss="modal">Aceptar</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<br>
<app-footer></app-footer>